/* You can add global styles to this file, and also import other style files */
body {
  /* background: url(https://firebasestorage.googleapis.com/v0/b/hack-tues.appspot.com/o/zalez.png?alt=media&token=9157c479-8d03-422f-8e7b-5de3a503d060); */
  background: url(./assets/zalez.png);
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}
